<ion-view view-title="دوستان">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list animate-fade-slide-in-right">
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/jon-snow.jpg">
                    <h2>Jon</h2>
                    <p>حافظ ار در گوشه میخانه مینالد رواست ..</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/daenerys.jpg">
                    <h2>Dorsa</h2>
                    <p>بهتر از این نمیشه :)</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/arya.jpg">
                    <h2>Mina</h2>
                    <p>گفتم غم تو دارم ...</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/sansa.jpg">
                    <h2>Mahnaz</h2>
                    <p>من اگر کامروا گشتم و خوش دل چه عجب ... :)</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
                <a href="#/app/profile" class="item item-avatar item-icon-right">
                    <img src="img/tyrion.jpg">
                    <h2>Ehsan</h2>
                    <p>Engineering is Life Style :D</p>
                    <i class="icon ion-chatbubble muted"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
