<ion-view view-title="پروفایل شخصی">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Dorsa</a></h3>
                <h4>بهتر از این نمیشه :)</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> فعالیت ها
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> دوستان
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> عکس ها
            </a>
        </div>
        <h4 class="content padding double-padding-x">دنبال کنندگان</h4>
        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon</h2>
                <p>حافظ ار در گوشه میخانه مینالد رواست ...</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/sansa.jpg">
                <h2>Mahnaz</h2>
                <p><!-- &amp; Joffrey <strike>sitting</strike> sat in a tree --> من اگر کامروا گشتم و خوش دل چه عجب ... :)</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/tyrion.jpg">
                <h2>Ehsan</h2>
                <p>Engineering is Life Style :D</p>
                <i class="icon ion-chatbubble muted"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
